.accommodations-cards {
    display: flex;
    flex-direction: row;
    height: 340px;
    width: 340px;
    top: 56px;
    left: 50px;
    border-radius: 50px; //ne fonctionne pas
    
}

.accommodations-cards img {
    object-fit: fill;
    width: auto;
    height: auto;
}
.accommodations-cards h3 {
    //display: flex;
    //transform: translate(-70%, 80%);
}