.collapse {
    max-width: 950px;
    margin: 0 auto;
    background-color: $main-color;
    color: $main-color;
    border-radius: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 30px;
    width: auto;
    height: 100px;
  
}

.collapse-title {
    color: $secondary-color;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.collapse-content {
    color: $main-color;
    background-color: #f7f7f7;
    border-radius: 5px;
    width: 100%;
    height: 20px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;
    padding: 0.8em;
    
}

.about_collapse {
    overflow: hidden;
    width: auto;
    height: 150px;
    margin-top: 10px;
    margin-bottom: -30px;
    border-radius: 20px;
}
