footer {
        display: flex;
        background-color: black;
        color: white;
        font-size: 20px;
        margin-top: 50px;
        padding: 6vw 0 2vw;
        text-align: center;
    }

footer img {
    height: 40px;
    margin-bottom: 10%;
    transform: translate(400%, 10%);
    width: auto;
}

footer p {
    color: white;
    width: 100%;
    transform: translate(-5%, 10%);
}


    