.footer {
        align-items: center;
        background-color: #000;
        color: #fff;
        display: flex;
        height: 209px;
        justify-content: center;
        margin-bottom: -10px;
        margin-left: -110px;
        margin-right: -110px;
}