.gallery-card {
    background: #f6f6f6;
    border-radius: 25px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 60px 1px 10px 20px;
    padding: 50px 30px;
    text-align: center;
    width: 100%;
    
}

.gallery-card img {
    border-radius: 40px;
}


//media queries
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.gallery-card {
    width: 100%;
    background: #f7f7f7;
    border-radius: 25px;
    column-gap: 50px;
    display: grid;
}
}

