.gallery-card {
    background-color: #f6f6f6;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    background: #f7f7f7;
    border-radius: 25px;
    
    column-gap: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 40px;
    padding: 50px;
    row-gap: 30px;
}

.gallery img {
    background-color: #f6f6f6;
    border-radius: 25px;
    
}


