.gallery-card {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 35px;
    margin-top: 35px;
    padding-bottom: 35px;
    padding-top: 35px;
}

.gallery img {
    background-color: #f6f6f6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


