
//Logo + nav 
header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Navigation {
    display: flex;
    align-items: center;
    padding-right: 1px;
    justify-content: space-between;
    text-decoration: none;
}

.Navigation a {
    display: flex;
    padding: 10px;
    align-items: space-between;
    text-decoration: none;
    color: $main-color;
}

a:active, a:hover {
    text-decoration: underline;
}

//Banner Home

.bannerHome {
    width: 107%;
    height: 210px;
    overflow: hidden;
}
.bannerHome img {
    width: 100%;
    opacity: 100%;
    background: white;
    border-radius: 50px;
    height: 200px;
    overflow-y: hidden;
}

.bannerHome p {
    transform: translate(-1%, -320%);
    display: flex;
    justify-content: center;
}

//Banner About 
.bannerAbout img {
    width: 100%;
    height: 230px;
    top: 163px;
    left: 163px;
    border-radius: 80px; 
    padding-left: 12px;
}

.banner-slogan {
    color: white;
    font-size: 48px;
    vertical-align: middle;
    transform: translate(30%, -150%);
}

//media queries version mobile

@media screen and (max-width: 665px) {
.Navigation {
    display: flex;
    align-items: space-between;
    align-content: space-between;
    justify-content: space-between;
    
   
}
}

