
//Logo + nav 
header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Navigation {
    display: flex;
    align-items: center;
    padding-right: 1px;
    justify-content: space-between;
    text-decoration: none;
}

.Navigation a {
    display: flex;
    padding: 10px;
    align-items: space-between;
    text-decoration: none;
    color: $main-color;
}

a:active, a:hover {
    text-decoration: underline;
}

//Banner 
.bannerHome img {
    padding-left: 12px;
    width: auto;
    height: 223px;
    top: 163px;
    left: 100px;
    border-radius: 25px; 
    opacity: 70%;
}

.bannerAbout img {
    width: auto;
    height: 223px;
    top: 163px;
    left: 100px;
    border-radius: 25px; 
}

//Ne fonctionne pas
.banner-slogan {
    color: white;
    font-size: 48px;
    vertical-align: middle;
    transform: translate(30%, -150%);
}

