.slideshow {
    height: 100%;
    width: 100%;
    
  }
  
  .slideshow img {
    width: 50%;
    height: 40px;
    object-fit: cover;
    border-radius: 25px;
  }
  
  .slideshow  {
    position: absolute;
    transform: translateY(-10%);
    padding: 10px;
    
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .slideshow button:focus {
    outline: none;
  }

  
  